{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        {% for user in results %}
            <li>
                <a href="{{ path("user_timeline", {'username': user.username}) }}">{{ user.username }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}